.Projects {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
    align-content: space-around;
    font-family: 'Montserrat', sans-serif;
}
.projects_head {
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.projects_head img {
    width: 100vw;
    opacity: .9;
    z-index: -1;
}
.rob-pic {
    background-image: url("https://res.cloudinary.com/datcltouj/image/upload/v1566659497/fiotvxqvlnnzdyfphikz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 35vh;
    opacity: .9;
    z-index: -1;
}
.projects_head h1 {
    position: absolute;
    font-size: 5rem;
    top: 0;
    right: 0;
    margin-top: 8%;
    margin-right: 12%;
}
.projects_container {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects_container h3 {
    margin: 0;
}
.projects_container p{
    margin: 0;
}
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.projects_container img {
    width: 400px;
    height: 300px;
}
@media (max-width: 750px) {
    .rob-pic {
        background-position: center;
    }
    .projects_head h1 {
        font-size: 3.5rem;
        margin-right: 3%;
    }
}
@media (max-width: 500px) {
    .proj-container img {
        height: 100%;
        width: 100%;
    }
    .projects_head h1 {
        margin-top: 30%;
    }
}
@media (max-width: 400px) {
    .projects_head h1 {
        margin-top: 40%;

    }
}