.Engine_room {
  /* position: relative; */
  text-align: center;
  color: black;
  font-family: "Alegreya Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.matt-pic {
  background-image: url("https://res.cloudinary.com/datcltouj/image/upload/v1566577344/opwdtqaee01zpygipyjz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 75vh;
  opacity: 0.9;
  z-index: -1;
}
.Engine h1 {
  position: absolute;
  font-size: 5rem;
  top: 0;
  right: 0;
  margin-top: 18%;
  margin-right: 18%;
}
.engine-list li {
  color: black;
}
.engine-info {
  display: flex;
  justify-content: space-evenly;
  width: 95vw;
  height: 40vh;
  /* margin-top: 5vh;
  margin-right: 0; */
  margin: 0;
}
@keyframes engines {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.engine-pics {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 400px;
  width: 300px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.engine-pics img {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  animation-name: engines;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}
.e_pic_1 {
  animation-delay: 9s;
  
}
.e_pic_2 {
  
animation-delay: 6s;
}
.e_pic_3 {
  
  animation-delay: 3s;
}
.e_pic_4 {
  animation-delay: 0s;
}
@media (max-width: 1100px) {
  .Engine h1 {
    margin-top: 18%;
    margin-right: 7%;
  }
}
@media (max-width: 900px) {
  .matt-pic {
    background-position: center;
  }
}
@media (max-width: 500px) {
  .Engine h1 {
    margin-top: 55%;
    margin-right: 3%;
    font-size: 3.5rem;
  }
  .e_pic_1 {
    height: 100px;
    width: 75px;
  }
  .e_pic_2 {
    height: 100px;
    width: 75px;
  }
  .e_pic_3 {
    height: 100px;
    width: 75px;
  }
  .e_pic_4 {
    height: 100px;
    width: 75px;
  }
}
